<div class="container">
  <form>
    <div class="form-group email-login">
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="email"
        placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}"
      />
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="newPassword"
        placeholder="{{ 'CHANGE_PSW.PSW' | translate }}"
      />
      <input
        type="password"
        class="form-control"
        name="matchingPassword"
        [(ngModel)]="matchingPassword"
        placeholder="{{ 'CHANGE_PSW.PSW_AGAIN' | translate }}"
      />
    </div>
    <button (click)="savePassword()" class="btn btn-success">
      {{ "CHANGE_PSW.UPDATE_BTN" | translate }}
    </button>
  </form>
</div>
