<h1 class="admin--title">Admin Page</h1>
<div class="admin--navigation">
    <ul>
        <li (click)="scrollToElement(manageProducts)">Products</li>
        <li (click)="scrollToElement(manageOrders)">Orders</li>
        <li (click)="scrollToElement(manageNews)">News</li>
        <li (click)="scrollToElement(manageUsers)">Users</li>
        <li (click)="scrollToElement(manageEvents)">Events</li>
    </ul>
</div>
<section #manageProducts class="admin--section">
    <h2 class="admin--section-title">Manage Products</h2>
    <div class="admin--section-content">
        <div class="admin--section-content-top">
            <button (click)="handleProductsTab(0)">Add new product</button>
            <button (click)="handleProductsTab(1)">Modify / Delete product</button>
            <button (click)="handleProductsTab(2)">Create new category</button>
            <button (click)="handleProductsTab(3)">Modify category</button>
        </div>
        <div [ngSwitch]="activeTab">
            <app-upload-product *ngSwitchCase="0"
                (newProductSaved)="saveItem($event)">
            </app-upload-product>
            <app-admin-section-list *ngSwitchCase="1" 
                [items]="allProducts" 
                (deleteItem)="deleteItem($event)" 
                (editItem)="editItem($event)">
            </app-admin-section-list>
            <app-upload-product *ngIf="editProduct" 
                [editProduct]="editProduct"
                (closeEditing)="closeEditing()"
                (updatedProduct)="updateItem($event)">
            </app-upload-product>
            <p *ngSwitchCase="2">TODO Create new category</p>
            <p *ngSwitchCase="3">TODO Modify category</p>
        </div>
    </div>
</section>

<section #manageOrders class="admin--section">
    <h2 class="admin--section-title">Manage Orders</h2>
</section>
<section #manageNews class="admin--section">
    <h2 class="admin--section-title">Manage News</h2>
</section>
<section #manageUsers class="admin--section">
    <h2 class="admin--section-title">Manage Users</h2>
</section>
<section #manageEvents class="admin--section">
    <h2 class="admin--section-title">Manage Events</h2>
</section>
