<h1 class="admin--title">Admin Page</h1>

<div class="container">
    <div class="wrapper">
        <div class="grid-item" (click)="navigateToPage('admin/orders')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Manage Orders
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/users')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Manage Users
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/add-product')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Add Product
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/add-post')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Add Blog Post
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/add-event')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Add Event
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/add-category')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Add Category
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/newsletter')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Send Newsletter
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/products')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Edit Products
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/posts')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Edit Blog Posts
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/events')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Edit Events
            </div>
        </div>
        <div class="grid-item" (click)="navigateToPage('admin/categories')">
            <fa-stack size="3x">
                <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
                <fa-icon [icon]="faGear" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div>
                Edit Categories
            </div>
        </div>
    </div>
</div>

