.admin--title {
    text-align: center;
    margin-top: 20px;
}

.admin--navigation ul {
    display: flex;
    list-style: none;
    justify-content: center;

    li {
        margin: 50px;
        font-size: 24px;
        cursor: pointer;
    }
}

.admin--section{
    background: #f9f9f9;
    min-height: 300px;
    padding: 4em;
    margin-top: 3rem;
}

.admin--section-title {
    text-align: center;
    margin-bottom: 1rem;
}

.admin--section-content-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
}