<aside>
    <h2>Shop by Categories</h2>
    <div class="card-group">
        <div *ngFor="let category of categories" class="card h-20" style="width: 10rem;">
            <img src="../../../assets/no-image-icon-23485.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{category.name}}</h5>
            <p class="card-text">
                I am a category.
            </p>
            <button class="btn btn-primary" (click)="goToCategory(category)">Go to category</button>
            </div>
        </div>
    </div>
    
</aside>

<main>
    <h1>All Products</h1>
    <app-products-list></app-products-list>
</main>