<div class="col-md-6">
    <h2 class="text-center">Upload post</h2>
    <form>
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" [(ngModel)]="post.title" name="title"
                class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="content">Content: </label>
            <textarea [(ngModel)]="post.content" name="content" class="form-control"
                id="content"></textarea>
        </div>

        <button class="btn btn-success" (click)="createPost()">Create</button>
    </form>
</div>
