<div class="container">
  <div class="title">
    <h1>{{ "LOGIN.WELCOME" | translate }}</h1>
  </div>
  <div id="googleBtnDiv"></div>
  <form>
    <div class="form-group email-login">
      <h5>- {{ "LOGIN.EMAIL_TITLE" | translate }} -</h5>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="username"
        placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}"/>
    </div>
    <div class="form-group email-login">
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="password"
        placeholder="{{ 'LOGIN.PSW_PLACEHOLDER' | translate }}"
      />
    </div>
    <button (click)="checkLogin()" class="btn btn-success">
      {{ "LOGIN.LOGIN_BTN" | translate }}
    </button>
  </form>
  <div>
    <p>{{ "LOGIN.NOT_REGISTERED" | translate }}</p>
    <button (click)="goToRegisterPage()" class="btn btn-secondary">
      {{ "LOGIN.REGISTER" | translate }}
    </button>
  </div>
    <div>
      <a class="forgot-psw" (click)="handleForgottenPsw()">{{
        "LOGIN.FORGOTTEN_PSW" | translate
      }}</a>
    </div>
</div>
