<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
        <div>
            <button class="bg-dark" type="button" (click)="drawerRef.toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand">MyBrand</a>
        </div>
        <div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
            </form>
        </div>
        <div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item flex-justify-right"><a routerLink="/profile" class="nav-link">Profile</a></li>
                    <li class="nav-item"><a routerLink="/wishlist" class="nav-link">Wishlist</a></li>
                    <li class="nav-item"><a routerLink="/cart" class="nav-link">Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
