main {
    padding: 3em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
}

main > div {
    padding: 1em;
    padding-bottom: 0;
    border: 1px solid black;
}

.cart--title {
    font-weight: 600;
    margin-bottom: 1em;
}
