<div class="container">
  <h1 class="title">{{"MANAGE_EVENTS.EDIT_EVENTS" | translate}}</h1>
  <a href="/admin" class="btn btn-primary">{{"MANAGE_EVENTS.BACK_TO_ADMIN_PAGE" | translate}}</a>
  <div class="grid-wrapper">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>{{"COMMON.SORT" | translate}}</mat-label>
        <mat-select [(value)]="sort" (selectionChange)="refreshData()">
          <mat-option
            *ngFor="let sortValue of sortValues"
            [value]="sortValue.value"
          >
            {{ sortValue.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <table
        *ngIf="dataSource"
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
        aria-describedby="orders table"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of columnsToDisplay"
        >
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnsToDisplay"
          (click)="handleRowClicked(row)"
        ></tr>
      </table>

      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator>
    </section>
    <section *ngIf="selectedEvent !== null">
      <form>
        <div class="form-group">
          <label for="name">{{"MANAGE_EVENTS.TITLE" | translate}} </label>
          <input
            type="text"
            [(ngModel)]="selectedEvent.title"
            name="name"
            class="form-control"
            id="name"
          />
        </div>

        <div class="form-group">
          <label for="description">{{"MANAGE_EVENTS.DESCRIPTION" | translate}} </label>
          <textarea
            [(ngModel)]="selectedEvent.description"
            name="description"
            class="form-control"
            id="description"
          >
          </textarea>
        </div>

        <div class="form-group">
          <label for="startDate">{{"MANAGE_EVENTS.START_DATE" | translate}} </label><br />
          <input
            type="datetime-local"
            id="startDate"
            [(ngModel)]="selectedEvent.startDateTime"
            name="startDate"
          />
        </div>

        <div class="form-group">
          <label for="endDate">{{"MANAGE_EVENTS.END_DATE" | translate}} </label><br />
          <input
            type="datetime-local"
            id="endDate"
            [(ngModel)]="selectedEvent.endDateTime"
            name="startDate"
          />
        </div>

        <button class="btn btn-success" (click)="updateEvent()">{{"COMMON.UPDATE" | translate}}</button>
        <button class="btn btn-secondary" (click)="cancelEdit()">{{"COMMON.CANCEL" | translate}}</button>
        <button class="btn btn-danger" (click)="deleteEvent()">{{"COMMON.DELETE" | translate}}</button>
      </form>
    </section>
  </div>
</div>
