<div class="container">
  <div class="title">
    <h1>{{ "LOGIN.WELCOME" | translate }}</h1>
  </div>
  <div id="googleBtnDiv">
    <!--<a href="http://localhost:8080/oauth2/authorization/google" class="btn google-btn social-btn" type="button">{{ "LOGIN.GOOGLE" | translate }}</a>-->
  </div>
  <form>
    <div class="form-group email-login">
      <p>{{ "LOGIN.EMAIL_TITLE" | translate }}</p>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="username"
        placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}"
      />
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="password"
        placeholder="{{ 'LOGIN.PSW_PLACEHOLDER' | translate }}"
      />
    </div>
    <button (click)="checkLogin()" class="btn btn-success">
      {{ "LOGIN.LOGIN_BTN" | translate }}
    </button>
    <p>{{ "LOGIN.NOT_REGISTERED" | translate }}</p>
    <span
      ><button (click)="goToRegisterPage()" class="btn btn-secondary">
        Create account
      </button></span
    >
  </form>
</div>
