<table>
  <caption class="table--caption">
    Shopping cart items
  </caption>
  <thead class="cart--header">
    <tr class="cart-item--container">
      <th class="col">Item</th>
      <th class="col">Price</th>
      <th class="col">Quantity</th>
      <th class="col">Subtotal</th>
      <th class="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="cart-item--container" *ngFor="let item of products">
      <td class="col">
        <img
          class="item--image"
          src="https://source.unsplash.com/random/200×200"
          alt="{{ item.product.name }}"
        />
      </td>
      <td class="col">
        <h4>{{ item.product.name }}</h4>
      </td>
      <td class="col">
        <div class="quantity--container">
          <button class="icon-btn" (click)="emitDecreaseQty(item)">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
          <p>{{ item.quantity }}</p>
          <button class="icon-btn" (click)="emitIncreaseQty(item)">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </td>
      <td class="col">
        <p>{{ item.product.price }} Ft</p>
      </td>
      <td class="col">
        <button class="icon-btn" (click)="emitRemoveFromCart(item)">
          <fa-icon [icon]="faX"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
