<div class="container">
  <h1 class="title">{{"ADMIN.EDIT_PRODUCTS" | translate}}</h1>
  <a routerLink="/admin" class="btn btn-primary">{{"COMMON.BACK_TO_ADMIN_PAGE" | translate}}</a>
  <div class="grid-wrapper">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>{{"COMMON.SORT" | translate}}</mat-label>
        <mat-select [(value)]="sort" (selectionChange)="refreshData()">
          <mat-option
            *ngFor="let sortValue of sortValues"
            [value]="sortValue.value"
          >
            {{ sortValue.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <table
        *ngIf="dataSource"
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
        aria-describedby="orders table"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of columnsToDisplay"
        >
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnsToDisplay"
          (click)="handleRowClicked(row)"
        ></tr>
      </table>

      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator>
    </section>
    <section *ngIf="selectedProduct !== null">
      <form>
        <div class="form-group">
          <label for="name">{{"COMMON.NAME" | translate}} </label>
          <input
            type="text"
            [(ngModel)]="selectedProduct.name"
            name="name"
            class="form-control"
            id="name"
          />
        </div>

        <div class="form-group">
          <label for="description">{{"COMMON.DESCRIPTION" | translate}} </label>
          <textarea
            [(ngModel)]="selectedProduct.description"
            name="description"
            class="form-control"
            id="description"
          >
          </textarea>
        </div>

        <div class="form-group">
          <label for="price">{{"COMMON.PRICE" | translate}} </label>
          <input
            type="text"
            [(ngModel)]="selectedProduct.price"
            name="price"
            class="form-control"
            id="price"
          />
        </div>

        <div class="form-group">
          <label for="category">{{"COMMON.CATEGORY" | translate}} </label><br />
          <select
            class="form-select"
            aria-label="select-category"
            [(ngModel)]="selectedProduct.category!.id"
            name="category"
            id="category"
          >
            <option *ngFor="let cat of categories" [ngValue]="cat.id">
              {{ cat.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="image">{{"COMMON.IMAGE_URL" | translate}} </label>
          <input
            type="text"
            [(ngModel)]="selectedProduct.imageURL"
            name="image"
            class="form-control"
            id="image"
          />
        </div>

        <button class="btn btn-success" (click)="updateProduct()">
          {{"COMMON.UPDATE" | translate}}
        </button>
        <button class="btn btn-secondary" (click)="cancelEdit()">{{"COMMON.CANCEL" | translate}}</button>
        <button class="btn btn-danger" (click)="deleteProduct()">{{"COMMON.DELETE" | translate}}</button>
      </form>
    </section>
  </div>
</div>
