<div class="container">
  <h1 class="text-center">Our Blog</h1>
  <div class="wrapper masonry">
    <div class="block" *ngFor="let post of posts$ | async">
      <img src="{{ post.imageUrl }}" alt="{{post.title}} image"/>
      <div class="content">
        <h2>{{ post.title }}</h2>
        <p>
          {{ post.content }}
        </p>
        <a class="read-more" (click)="navigateToPostDetails(post)">Read More</a>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn">Load more</button>
  </div>

</div>
