table {
    width: 100%;
    margin-top: 1rem;
}

thead {
    background: #f8f8f8;
}

.title {
    margin: 1em;
    margin-left: 0;
  }

.col {
    padding: 2em 1em;
}

.quantity--container {
    display: flex;
    justify-content: space-between;
}

.cart-item--container {
    border-bottom: 1px solid #e5e5e5;
}

.item--image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.icon-btn {
    border: none;
    background: transparent;
}

.cart-empty--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.table--caption {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}