<div class="products--header">
    <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select 
            [(value)]="sort"
            (selectionChange)="refreshData()">
          <mat-option *ngFor="let sortValue of sortValues" [value]="sortValue.value">
            {{sortValue.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="products--container">
    <div class="col-md-4" *ngFor="let product of products">
        <div class="product--card">
            <img
                src="{{product.imageURL}}"
                alt="..."
                class="product--card-img"
                (click)="navigateToProductDetails(product)"
            />
            <h5 class="card--title">{{ product.name }}</h5>
            <div class="product--card-button-container">
                <button class="addToCart--button" (click)="addToCart(product.id!)">
                    <fa-icon [icon]="faCartPlus"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<mat-paginator 
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>
