<main>
    <div class="checkout--header">
        <h1 class="title">Checkout</h1>
        <h2 class="description">Please enter your details below to complete your purchase</h2>
    </div>

    <div class="checkout--container">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <section class="shipping-address--section" formGroupName="addressForm">
                <h2 class="section--header">Shipping Address</h2>
                <div class="shipping-form--wrapper">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" formControlName="firstName">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" formControlName="lastName">
                    <label for="city">City</label>
                    <input type="text" id="city" formControlName="city">
                    <label for="postalCode">Postal Code</label>
                    <input type="text" id="postalCode" formControlName="postalCode">
                    <label for="phoneNumber">Phone number</label>
                    <input type="text" id="phoneNumber" formControlName="phoneNumber">
                </div>
            </section>
            <section class="shipping-method--section" formGroupName="shipmentForm">
                <h2 class="section--header">Shipping Method</h2>
                <div class="options--wrapper">
                    <div>
                        <input type="radio" id="in-store" formControlName="shipment" value="inStore">
                        <label for="in-store">0Ft Pick up In-Store</label>
                    </div>
                    <div>
                        <input type="radio" id="shipping-hun" formControlName="shipment" value="shippingHun">
                        <label for="shipping-hun">500Ft Inland Shipping in Hungary</label>
                    </div>
                </div>
            </section>
            <section class="payment-method--section" formGroupName="paymentForm">
                <h2 class="section--header">Payment Method</h2>
                <div class="options--wrapper">
                    <div>
                        <input type="radio" value="cash" id="pay-cash" formControlName="paymentMethod">
                        <label for="pay-cash">Cash On Delivery</label>
                    </div>
                    <div>
                        <input type="radio" value="card" id="pay-card" formControlName="paymentMethod">
                        <label for="pay-card">Credit Card Payment</label>
                    </div>
                    <div>
                        <input type="radio" value="transfer" id="pay-transfer" formControlName="paymentMethod">
                        <label for="pay-transfer">Bank Transfer - Pre-Payment</label>
                    </div>
                </div>
            </section>
            <section class="order-summary--section">
                <h2 class="summary--header">Order Summary</h2>
                <div>
                    <p *ngIf="cartItems">{{ cartItems.length }} items in cart</p>
                    <app-cart-items-table
                        [products]="cartItems"
                        (removeFromCart)="removeFromCart($event)"
                        (increaseQty)="increaseQty($event)"
                        (decreaseQty)="decreaseQty($event)">
                    </app-cart-items-table>
                    <p>Cart Subtotal: {{ subTotal }}Ft</p>
                    <p>Shipping: {{ shippingPrice }}Ft</p>
                    <p>Order Total: {{ orderTotal }}Ft</p>
                </div>
                <button type="submit">Place Order</button>
            </section>
        </form>
    </div>
</main>
